<html>
  <head>
    <title>koa ejs</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .progress-inner {
        height: 20px;
        background: blue;
      }
      .progress-bar-wrap {
        width: 300px;
      }
      .progress-bar {
        border: 1px solid grey;
        width: 400px;
        background: grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .progress-bar .text {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <form action="">
      <input type="text" placeholder="文件上传">
      <input type="file" name="file" onchange="handleFileChange(event)">
    </form>
      <div class="progress-bar">
        <div class="progress-bar-wrap">
          <div id="bar" class="progress-inner" style="width: 0%"></div>
        </div>
        <div id="text" class="text">0</div>
      </div>

      <script src="./ajax.js"></script>
    <script>

      function handleFileChange (e) {
        debugger
        console.log('file change')
        upload(e.target.files[0])
      }

      function updateProgress(e) {
        const percent = e.percent.toFixed(2);
        document.getElementById('bar').style.width = percent + '%'
        document.getElementById('text').innerText = percent + '%'
      }

      function upload(file) {
        const xml = new XMLHttpRequest();

        if (xml.upload) {
          xml.upload.onprogress = function (e) {
            if (e.total > 0) {
              e.percent = e.loaded / e.total * 100
            }
            updateProgress(e)
          }
        }
        const formData = new FormData()

        formData.append('file', file)

        xml.open('post', '/upload')
        xml.send(formData)
      }
    </script>
  </body>
</html>
